<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <h1><%= __('error.404') %></h1>
  <p><%= __('error.404') %></p>
  <a href="/"><%= __('back_home') %></a>
</body>
</html>
